<!DOCTYPE html>
{% load static %}   
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vslt_app/style.css' %}">
    <title>Document</title>
</head>
<body>
    {{ llm_response }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // llamar a la api para obtener los datos

    </script>
    <script>
        let datos = {}
        let filename = "{{ filename }}";
    </script>
    <script src="{% static 'vslt_app/graph.js' %}"></script>
</body>

</html>